<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
             
    <title>Projekti</title>
</head>
<body>
    
    <div class="container">
            <ul class="collection">
                    <li class="collection-item avatar">
                      <img src="../img/google.jpg" alt="boggle" class="circle">
                      <span class="title">Booggle</span>
                      <p>Fake google page</p>
                      <a href="https://github.com/NejcPivec/Boggle" class="secondary-content"><i class="material-icons">link</i></a>
                    </li>
                    <li class="collection-item avatar">
                      <img src="https://www.humanbenchmark.com/images/icons/numbers.png" alt="Guess the number" class="circle">
                      <span class="title">Guess the number</span>
                      <p>Game in which you guess the number</p>
                      <a href="https://github.com/NejcPivec/GuessTheNumber" class="secondary-content"><i class="material-icons">link</i></a>
                    </li>
                    <li class="collection-item avatar">
                      <img src="http://www.jezersek.si/si/imagelib/source/default/poroke/navidezna-poroka/Navidezna%20poroka_2017_29_r.jpg" alt="poroka" class="circle">
                      <span class="title">Marrige quotes</span>
                      <p>Web scrapper program which gives you 5 marriage quotes</p>
                      <a href="https://github.com/NejcPivec/Marriage_Quotes" class="secondary-content"><i class="material-icons">link</i></a>
                    </li>
                    <li class="collection-item avatar">
                      <img src="https://www.bohinj-eco-hotel.si/pic/page/Bohinj-ECO-Hotel-Restaurant-1.jpg" alt="revstavracija" class="circle">
                      <span class="title">Restaurant menu creator</span>
                      <p>Program in which you write a menu and it is saved in txt file</p>
                      <a href="https://github.com/NejcPivec/restaurantMenu" class="secondary-content"><i class="material-icons">link</i></a>
                    </li>
                  </ul>
    </div>

</body>
</html>